<div id="content">
    <form name="user" method="post" action="$link.clear($position)">
        <input type="hidden" name="operation" value="changePassword" />
        <input type="hidden" name="userId" value="$!user.id" />
	    <fieldset class="operation">
        <legend>$navigationNode.getLabel($locale)</legend>
        <div id="properties">
            <table class="dialog">
                <tr>
                    <td class="property">$labelIdentifier:</td>
                    <td class="value">$user.id</td>
                </tr>
                <tr>
                    <td class="property">$labelPassword:</td>
                    <td class="value">
                        <input type="password" name="userPassword" size="16" />
                    </td>
                </tr>
                <tr>
                    <td class="property">$labelNewPassword:</td>
                    <td class="value">
                        <input type="password" name="userNewPassword" size="16" />
                    </td>
                </tr>
                <tr>
                    <td class="property">$labelConfirmNewPassword:</td>
                    <td class="value">
                        <input type="password" name="userConfirmNewPassword" size="16" />
                    </td>
                </tr>
            </table>
        </div>
#if ($errorMessage)
#if ($errorMessage.hasGeneral())
        <div id="error">
            $errorMessage.general
        </div>
#else
        <div class="operation">
            $labelPasswordChanged
        </div>
#end
#end
        <div class="operation">
            <input type="submit" class="button" value="$labelChangePassword" />
        </div>
        </fieldset>
    </form>
</div>
