<div id="content">
#if ($user.id == $defaultUserId)
<form name="login" action="$link.setNavigationId($afterLoginNid)" method="post">
#else
<form name="login" action="$link.clear()" method="post">
#end
    <div id="pageTitle">
#if ($user.id == $defaultUserId)
        $labelLogin
#else
        $labelLogout
#end
    </div>
    <div id="properties">
#if ($user.id != $defaultUserId)
        <input type="hidden" name="operation" value="userLogout" />
#else
        <input type="hidden" name="operation" value="userLogin" />
#end
        <table class="dialog">
            <tbody>
#if ($user.id == $defaultUserId)
                <tr>
                    <td class="property">$labelUserId:</td>
                    <td class="value"><input id="focused" type="text" name="loginUser" /></td>
                </tr>
                <tr>
                    <td class="property">$labelPassword:</td>
                    <td class="value"><input type="password" name="loginPassword" /></td>
                </tr>
#else
                <tr>
                    <td class="property">$labelUserId:</td>
                    <td class="value">$user.id</td>
                </tr>
#end
            </tbody>
        </table>
    </div>
    <div class="operation">
#if ($user.id != $defaultUserId)
        <input type="submit" class="button" value="$labelLogout" />
#else
        <input type="submit" class="button" value="$labelLogin" />
#end
    </div>
</form>
</div>
