/* - - - - - - - - - - - - - - - - - - - - -

Title : 
Author : 
URL : 

Description : 

Created : 
Modified : 

- - - - - - - - - - - - - - - - - - - - - */

/* ----- CSS ----- */

* {
}
html {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Ubuntu, Verdana, sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  background: transparent url("images/app-logo2.gif") no-repeat 50% 60%;
  background-color: #ffffff;
}

/* ----- IDS ----- */

#container {
}
#header {
  padding: 0.5rem 1rem;
  background-color: #0068c3;
  color: #fff;
}
#parkolas-logo {
  position: absolute;
  z-index: 2;
  right: 0%;
  margin-right: 21px;
  top: 28px;
  width: 156px;
  height: 56px;
  background: #fff url("images/app-logo1.gif") no-repeat;
}
#primaryContent {
}
#secondaryContent {
}
#navigation {
  background-color: #f0f7fc;
  color: #333;
  padding: 0.5rem calc(1rem - 0.25rem);
}
#navigation2 {
  color: #333;
  margin-bottom: 1rem;
  padding: 0.5rem calc(1rem - 0.25rem);
}
#footer {
  padding: 0.5rem 1rem;
  text-align: center;
  color: #ccc;
}

/* ----- CLASSES ----- */

.hide {
}
.show {
}
.portlet {
}
.list {
}
.nowrap {
  white-space: nowrap;
}
.error {
  color: red;
  font-weight: bold;
}
.info {
  color: blue;
  font-weight: bold;
}
.selected {
}
/* ----- HEADINGS ----- */

h1 {
  font-size: 1.5rem;
  margin: 0.3rem;
  padding: 0px;
}
h2 {
  font-size: 1.2rem;
  margin: 0.3rem;
  padding: 0px;
}
h3 {
  font-size: 1rem;
  margin: 0.3rem;
  padding: 0px;
}
h4 {
  font-size: 1rem;
  margin: 0.3rem;
  padding: 0px;
}

/* ----- PARAGRAPHS ----- */

p {
}
#primaryContent p {
}
#secondaryContent p {
}
form fieldset p {
  padding: 0.5rem;
  margin: 0px;
  font-size: 1rem;
}

/* ----- QUOTES ----- */

blockquote {
}
blockquote p {
}
cite {
}
blockquote cite {
}

/* ----- CODE ----- */

pre {
}
code {
}
p code {
}
pre code {
}

/* ----- LISTS ----- */

li {
}
li p {
}
ol {
}
ul {
}
ol li {
}
ul li {
}

#navigation li {
}

#navigation ul {
}

#navigation ul li {
}

#navigation ol {
}

#navigation ol li {
}

/* ----- IMAGES ----- */

img {
  vertical-align: middle;
  border: 0px;
}
img a {
}
img a:hover {
}

/* ----- BREAK ----- */

hr {
}

/* ----- TEXT FORMATTING ----- */

strong {
}
em {
}
b {
}
i {
}

/* ----- LINKS ----- */

a {
  color: #0068c3;
  text-decoration: none;
}
a:hover {
  color: #048a34;
  text-decoration: underline;
}
a:visited,
a:active,
a:focus {
}
a:visited {
}
a:active {
}
a:focus {
}

p a {
}
cite a {
}
li a {
}
dt a {
}
dd a {
}
#footer a {
  color: #aaa;
}
a.btn {
  color: white;
  background: #888888;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #444444;
  border-bottom: 1px solid #444444;
  padding: 0.25rem 0.5rem;
  cursor: default;
}
a.btn:hover {
  color: white;
  text-decoration: none;
}
a.btn:active {
  border-top: 1px solid #444444;
  border-left: 1px solid #444444;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}
a.btnAccept {
  color: white;
  background: #048a34;
  border-top: 1px solid #3fad54;
  border-left: 1px solid #3fad54;
  border-right: 1px solid #146f00;
  border-bottom: 1px solid #146f00;
  padding: 0.25rem 0.5rem;
  cursor: default;
}
a.btnAccept:hover {
  color: white;
  text-decoration: none;
}
a.btnAccept:active {
  border-top: 1px solid #146f00;
  border-left: 1px solid #146f00;
  border-right: 1px solid #3fad54;
  border-bottom: 1px solid #3fad54;
}
a.btnDeny {
  color: white;
  background: #ff3d3d;
  border-top: 1px solid #ff8b8b;
  border-left: 1px solid #ff8b8b;
  border-right: 1px solid #aa0000;
  border-bottom: 1px solid #aa0000;
  padding: 0.25rem 0.5rem;
  cursor: default;
}
a.btnDeny:hover {
  color: white;
  text-decoration: none;
}
a.btnDeny:active {
  border-top: 1px solid #aa0000;
  border-left: 1px solid #aa0000;
  border-right: 1px solid #ff8b8b;
  border-bottom: 1px solid #ff8b8b;
}
a.btnOpen {
  color: white;
  background: #0068c3;
  border-top: 1px solid #609dff;
  border-left: 1px solid #609dff;
  border-right: 1px solid #004197;
  border-bottom: 1px solid #004197;
  padding: 0.25rem 0.5rem;
  cursor: default;
}
a.btnOpen:hover {
  color: white;
  text-decoration: none;
}
a.btnOpen:active {
  border-top: 1px solid #004197;
  border-left: 1px solid #004197;
  border-right: 1px solid #609dff;
  border-bottom: 1px solid #609dff;
}
#navigation a {
  display: inline-block;
  font-weight: bold;
  color: #0068c3;
  padding: 0.15rem 0.4rem;
  border-radius: 0.3rem;
}
#navigation a:hover {
  color: #048a34;
  text-decoration: none;
}
#navigation a.selected {
  background: #0068c3;
  color: #f0f7fc;
}
#navigation a.selected:hover {
  color: #f0f7fc;
}
#navigation2 a {
  display: inline-block;
  font-weight: bold;
  color: #888888;
  padding: 0.15rem 0.4rem;
  border-radius: 0.3rem;
}
#navigation2 a:hover {
  color: #048a34;
  text-decoration: none;
}
#navigation2 a.selected {
  background: #888888;
  color: white;
}
#navigation2 a.selected:hover {
  color: white;
}

/* ----- TABLES ----- */

table {
  border-collapse: collapse;
}
caption {
  white-space: nowrap;
}
thead {
}
tbody {
}
tfoot {
}
tr {
}
table.list tr {
}
table.list tr.selected {
  background-color: #f0f7fc;
}
tr .alt {
}
th {
  padding: 0.25rem 0.5rem;
}
table.list td {
  border-top: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
}
table.list td.noborder {
  border: 0px;
}

/* ----- FORMS ----- */

form {
  padding: 0px;
  margin: 0px;
}
fieldset {
  border: 1px solid #ccc;
  margin: 0.25rem 0.5rem;
  padding: 0 1rem 0.25rem 0.75rem;
}
legend {
  color: #444;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}
label {
}
input {
}
textarea {
}
input,
textarea,
select {
  font-weight: bold;
  font-family: inherit;
  color: #222;
  padding: 0.25rem 0.5rem;
  margin: 1px 0; /* Avoid touching borders if content wraps */
}
optgroup {
}
option {
  font-weight: bold;
  font-family: inherit;
  color: #222;
}
table.list tbody td.calendar a {
  text-decoration: none;
  font-weight: bold;
}
table.list tbody td.calendar a:hover {
  color: #fff;
  background-color: #bbb;
}
table.list tbody td.selectedCalendar a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #6f6d83;
}

/* ----- DEFINITIONS ----- */

dl {
}
dt {
}
dd {
}
table.grid td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 0.25rem 0.5rem;

  text-align: center;
}
table.grid td.unapproved {
  background-color: red;
}
table.grid td.approved {
  background-color: green;
}

table.grid td.weekend {
  background-color: #ccc;
}
div.popup {
  position: absolute;
  visibility: hidden;
  background-color: #f0f7fc;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  padding: 0.25rem;
  z-index: 10;
}

.fulfillment-description {
  /* preserve newlines */
  white-space: pre-line;
  text-align: left;
}

.fulfillment-list .date-cell {
  text-align: left;
  white-space: nowrap;
}

.fulfillment-list .date-even {
  border-left: 10px solid hsla(15, 100%, 38%, 1);
}

.fulfillment-list .date-odd {
  border-left: 10px solid hsla(208, 100%, 38%, 1);
}

.fulfillment-list tr.date-change-top {
  border-top: 2px solid #BBB;
}

.fulfillment-list tr.type-meeting {
  background-color: hsla(41, 100%, 50%, 0.1);
}

.fulfillment-list tr.date-rainbow-0 {
  border-left-color: hsla(0, 100%, 50%, 1);
}

.fulfillment-list tr.date-rainbow-1 {
  border-left-color: green;
}

.fulfillment-list tr.date-rainbow-2 {
  border-left-color: blue;
}

.fulfillment-list tr.date-rainbow-3 {
  border-left-color: orange;
}

.fulfillment-list tr.date-rainbow-4 {
  border-left-color: cyan;
}

.fulfillment-list tr.date-rainbow-5 {
  border-left-color: magenta;
}

.fulfillment-list tr.date-rainbow-6 {
  border-left-color: black;
}
