<div id="content">
    <form name="user" method="post" action="$history.ignore($link.clear($position))">
        <input type="hidden" name="operation" value="" />
        <input type="hidden" name="userId" value="$!selectedUser.getShortId()" />
	    <fieldset class="operation">
	        <legend>$navigationNode.getLabel($locale)</legend>
	        <div id="properties">
	            <table class="dialog">
	                <tr>
	                    <td class="property">$labelIdentifier:</td>
	                    <td class="value">$!selectedUser.getShortId()</td>
	                </tr>
	                <tr>
	                    <td class="property">$labelNewPassword:</td>
	                    <td class="value">
	                        <input type="password" name="userNewPassword" size="16" />
	                    </td>
	                </tr>
	                <tr>
	                    <td class="property">$labelConfirmNewPassword:</td>
	                    <td class="value">
	                        <input type="password" name="userConfirmNewPassword" size="16" />
	                    </td>
	                </tr>
	            </table>
	        </div>
#if ($errorMessage)
#if ($errorMessage.hasGeneral())
            <p class="nowrap">
                <span class="error">
        	        $errorMessage.general
                </span>
            </p>
#else
            <p class="nowrap">
                <span class="info">
		        $labelPasswordChangedAndEmailSent
            </p>
#end
#end
	        <p>
                #button($labelChangePassword '#' "document.user.operation.value = 'changePassword'; document.user.action = '$history.ignore($link.setOperation($position,'changeAnybodysPassword'))'; document.user.submit(); return false;")
                #button($labelDefaultPassword '#' "document.user.operation.value = 'defaultPassword'; document.user.action = '$history.ignore($link.setOperation($position,'changeAnybodysPassword'))'; document.user.submit(); return false;")
                #button($labelBack '#' "document.user.action = '$history.back()'; document.user.submit(); return false;")
            </p>
        </fieldset>
    </form>
</div>
