
<script type="text/javascript" language="JavaScript1.2">
    function changeOrderBy(orderBy) {
        if (orderBy == document.employeePMRoleList.filterOrderBy.value) {
            document.employeePMRoleList.filterDirection.value = 0 - document.employeePMRoleList.filterDirection.value;
        }
        document.employeePMRoleList.filterOrderBy.value = orderBy;
        document.employeePMRoleList.submit();
    }

    function changeDisplayedPage(field){
        if (field.value == "") return;
        var displpage = parseInt(field.value);
        if (!isNaN(displpage)) {
            if (displpage > 0 && displpage <= $filter.lastPage) {
                document.employeePMRoleList.filterPage.value = displpage;
            }
        }
        document.employeePMRoleList.displayedPageHeader.value = document.employeePMRoleList.filterPage.value;
    }

    function clearFilterFields() {
        document.employeePMRoleList.filterEmployeeId.value = "";
        document.employeePMRoleList.displayedValuefilterEmployee.value = "";
        document.employeePMRoleList.filterPMRoleId.value = "";
        document.employeePMRoleList.displayedValuefilterPMRole.value = "";
    }


    function openEmployeePicker() {
        var top = (window.event) ? window.event.screenY : 0;
        var left = (window.event) ? window.event.screenX : 0;
        var w = window.open("$history.ignore($link).baseURI$history.ignore($link.clear().setNavigationId('employeeSelect'))?callback=employeePickerCallback",
                            "labelEmployeeSelect",
                            "left=" + left + ", top=" + top + ", width=640, height=480, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no");
        w.focus();

    }

    function employeePickerCallback(id, label, data) {
        document.employeePMRoleList.filterEmployeeId.value = id;
        document.employeePMRoleList.displayedValuefilterEmployee.value = label;
    }

    function openPMRolePicker() {
        var top = (window.event) ? window.event.screenY : 0;
        var left = (window.event) ? window.event.screenX : 0;
        var w = window.open("$history.ignore($link).baseURI$history.ignore($link.clear().setNavigationId('pmRoleSelect'))?callback=pmRolePickerCallback",
                            "labelPMRoleSelect",
                            "left=" + left + ", top=" + top + ", width=640, height=480, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no");
        w.focus();

    }

    function pmRolePickerCallback(id, label, data) {
        document.employeePMRoleList.filterPMRoleId.value = id;
        document.employeePMRoleList.displayedValuefilterPMRole.value = label;
    }

#if($selectMode)
    function selectObject(id, label, data) {
#if($callback)
        window.opener.${callback}(id, label, data);
#else
        alert("Don't find callback method name in context.");
#end
        window.close();
    }
#end
</script>
<div class="portlet">
    <form name="employeePMRoleList" action="$link" method="post">
        <input type="hidden" name="filterOrderBy" value="$!filter.orderBy" />
        <input type="hidden" name="filterDirection" value="$!filter.direction" />
        <input type="hidden" name="filterPage" value="$filter.page" />
        <fieldset>
            <legend>$labelFiltering</legend>
                <p>
            <span class="nowrap">
                <label>$filter.labelEmployee($locale):</label>
                <input type="hidden" name="filterEmployeeId" value="$!filter.getEmployee().getId()"/>
                <input type="text" name="displayedValuefilterEmployee" value="$!omObjectFormatter.format($filter.employee.getOMObject(), $locale)" size="40"/>
                #button($labelChoose '#' "openEmployeePicker(); return false;")
            &nbsp;&nbsp;</span>
            <span class="nowrap">
                <label>$filter.labelPMRole($locale):</label>
                <input type="hidden" name="filterPMRoleId" value="$!filter.getPMRole().getId()"/>
                <input type="text" name="displayedValuefilterPMRole" value="$!omObjectFormatter.format($filter.pMRole.getOMObject(), $locale)" size="40"/>
                #button($labelChoose '#' "openPMRolePicker(); return false;")
            &nbsp;&nbsp;</span>
                </p>
                <p>
                #button($labelSearch '' 'document.employeePMRoleList.filterPage.value = "1";document.employeePMRoleList.submit(); return false;')
                #button($labelSearchReset '' 'clearFilterFields(); return false;')
#if (!$selectMode)
                #button($labelBack '#' "document.employeePMRoleList.action = '$history.back()'; document.employeePMRoleList.submit(); return false;")
#end
                </p>
        </fieldset>
#if (!$selectMode)
        #if($ams.may("actionProjectEditResourceDetails"))
        <fieldset>
            <legend>$labelOperations</legend>
            <p>
                #button($labelNewEmployeePMRole '' "document.employeePMRoleList.action = '$link.clear().setNavigationId('employeePMRoleProperties') '; document.employeePMRoleList.submit(); return false;")
            </p>
        </fieldset>
        #end
#end
        <fieldset>
            <p>

                <table class="list">
                    <caption>

#if ($filter.numberOfHits > 0)
#if ($filter.isMorePage())
            #button($labelFirstPage '' "document.employeePMRoleList.filterPage.value = 1; document.employeePMRoleList.submit(); return false;")&nbsp;
            #button($labelPrevPage '' "document.employeePMRoleList.filterPage.value = $filter.page - 1; document.employeePMRoleList.submit(); return false;")&nbsp;
            $filter.numberOfHits $labelEmployeePMRoleListCount &nbsp;<input type="text" size="3" name="displayedPageHeader" value="$filter.page" onkeyup="changeDisplayedPage(this);"/>&nbsp;/&nbsp;$filter.lastPage&nbsp;
            #button ($labelGoPage '' "document.employeePMRoleList.submit(); return false;")&nbsp;
            #button ($labelNextPage '' "document.employeePMRoleList.filterPage.value = ($filter.page + 1); document.employeePMRoleList.submit(); return false;")&nbsp;
            #button ($labelLastPage '' "document.employeePMRoleList.filterPage.value = $filter.lastPage; document.employeePMRoleList.submit(); return false;")
#end
#else
                        $labelEmployeePMRoleListEmpty
#end
                    </caption>
#if ($filter.direction == 1)
#set ($directionFlag = "[+]")
#else
#set ($directionFlag = "[-]")
#end
#if ($filter.numberOfHits > 0)
                    <thead>
                        <tr>
                            <th><a href="#" onClick="changeOrderBy('employee');return false;">$filter.labelEmployee($locale) #if ($filter.orderBy == "employee") $directionFlag #end</a></th>
                            <th><a href="#" onClick="changeOrderBy('pmRole');return false;">$filter.labelPMRole($locale) #if ($filter.orderBy == "pmRole") $directionFlag #end</a></th>
                            <th>$labelActions</th>
                        </tr>
                    </thead>
                    <tbody>
#foreach ($item in $items)
                        <tr>
#if($item.employee.getOMObject())
                            <td>$!omObjectFormatter.format($item.employee.getOMObject(), $locale)</td>
#else
                            <td>&nbsp;</td>
#end
#if($item.pMRole.getOMObject())
                            <td>$!omObjectFormatter.format($item.pMRole.getOMObject(), $locale)</td>
#else
                            <td>&nbsp;</td>
#end
#if($selectMode)
                            <td>
                                <a href="#" onClick="selectObject('$item.id','$omObjectFormatter.formatForJavascript($item.getOMObject(), $locale)', ''); return false;">$labelChoose</a>
                            </td>
#else
                            <td>
    #if($ams.may("actionProjectEditResourceDetails"))
                                <a href="$link.clear().setNavigationId('employeePMRoleProperties').setObjectId($position, $item.id)">$labelEdit</a>
    #end
                            </td>
#end
                        </tr>
#end
                    </tbody>
#end
              </table>
            </p>
        </fieldset>
    </form>
</div>
