<script type="text/javascript" language="Javascript1.2">
    function openTaskPicker() {
        var top = (window.event) ? window.event.screenY : 0;
        var left = (window.event) ? window.event.screenX : 0;
#if($ams.may("actionProjectSaveOthersFulfillment"))
        var w = window.open("$history.ignore($link).baseURI$history.ignore($link.clear().setNavigationId('taskSelect'))?callback=taskPickerCallback",
                            "labelTaskSelect",
                            "left=" + left + ", top=" + top + ", width=800, height=600, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no");
#else
        var w = window.open("$history.ignore($link).baseURI$history.ignore($link.clear().setNavigationId('personalTaskSelect'))?callback=taskPickerCallback",
                            "labelTaskSelect",
                            "left=" + left + ", top=" + top + ", width=800, height=600, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no");
#end
        w.focus();
    }

    function taskPickerCallback(id, label, data, projectId, project, businessUnitId, businessUnit) {
        document.properties.fulfillmentTaskId.value = id;
        document.properties.displayedValueFulfillmentTask.value = label;
    }

    function openEmployeePicker() {
        var top = (window.event) ? window.event.screenY : 0;
        var left = (window.event) ? window.event.screenX : 0;
        link = new String("$history.ignore($link).baseURI$history.ignore($link.clear().setNavigationId('employeeSelect').setObjectId($position, 'oidparam'))?callback=employeePickerCallback");
        #if(!$personalMode && ($ams.may("actionProjectSaveOthersFulfillment")))
            link = link.replace("oidparam",document.properties.fulfillmentTaskId.value);
        #else
            link = link.replace("oidparam","$pMUser.getEmployee().getId(),"+document.properties.fulfillmentTaskId.value);
        #end
        var w = window.open(link,
                            "labelEmployeeSelect",
                            "left=" + left + ", top=" + top + ", width=640, height=480, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no");
        w.focus();
    }

    function employeePickerCallback(id, label, data) {
        document.properties.fulfillmentEmployeeId.value = id;
        document.properties.displayedValueFulfillmentEmployee.value = label;
    }

    function openDatePicker() {
        var top = (window.event) ? window.event.screenY : 0;
        var left = (window.event) ? window.event.screenX : 0;
        var w = windowOpen("$history.ignore($link).baseURI$history.ignore($link.clear().setNavigationId('calendar'))?disableTime=true&disableSecs=true&callback=datePickerCallback",
                            "calendar",
                            "left=" + left + ", top=" + top + ", width=230, height=200, menubar=no, resizable=yes, scrollbars=no, status=no, toolbar=no");
        w.focus();
    }

    function datePickerCallback(data) {
        document.properties.fulfillmentDate.value = data;
    }
</script>
<div class="portlet">
    <form name="properties" action="$link" method="post">
        <input type="hidden" name="updateForm" value="update"/>
        <input type="hidden" name="taskResourceId" value="$!taskResourceId"/>
        <fieldset class="dialog">
            <legend>$labelFulfillmentProperties</legend>
            <p class="nowrap">
                <label>$fulfillment.labelTask($locale)*:</label>
                <input type="hidden" name="fulfillmentTaskId" value="$!fulfillment.getTask().getId()"/>
#if ($fulfillment.isExistInOMS())
                <b>$!omObjectFormatter.format($fulfillment.task.getOMObject(), $locale)</b>
#else
                <input type="text" name="displayedValueFulfillmentTask" value="$!omObjectFormatter.format($fulfillment.task.getOMObject(), $locale)" size="40"/>
                #button($labelChoose '#' "openTaskPicker(); return false;")
#end
            </p>
#if ($errorMessage.hasAttibute("fulfillmentTask"))
            <p class="nowrap">
                <span class="error">$errorMessage.forAttribute("fulfillmentTask")</span>
            </p>
#end
            <p class="nowrap">
                <label>$fulfillment.labelEmployee($locale)*:</label>
                <input type="hidden" name="fulfillmentEmployeeId" value="$!fulfillment.getEmployee().getId()"/>
                <input type="text" name="displayedValueFulfillmentEmployee" value="$!omObjectFormatter.format($fulfillment.employee.getOMObject(), $locale)" size="40"/>
            #if ($pMUser.hasRole("administrator") || $pMUser.hasRole("projectLeader") || $pMUser.hasRole("projectOfficer"))
                #button($labelChoose '#' "openEmployeePicker(); return false;")
            #end
            </p>
#if ($errorMessage.hasAttibute("fulfillmentEmployee"))
            <p class="nowrap">
                <span class="error">$errorMessage.forAttribute("fulfillmentEmployee")</span>
            </p>
#end
            <p class="nowrap">
                <label>$fulfillment.labelDate($locale)*:</label>
                <input type="text" name="fulfillmentDate" value="$!fulfillment.dateAsString" size="18"/>
                #button('...' '#' "openDatePicker(); return false;")
            </p>
#if ($errorMessage.hasAttibute("fulfillmentDate"))
            <p class="nowrap">
                <span class="error">$errorMessage.forAttribute("fulfillmentDate")</span>
            </p>
#end
            <p class="nowrap">
                <label>$fulfillment.labelTimeSpent($locale)*:</label>
                <input id="focused" type="text" name="fulfillmentTimeSpent" value="$!fulfillment.timeSpentAsString" size="16"/>
                <label>$labelHourFull</label>
            </p>
#if ($errorMessage.hasAttibute("fulfillmentTimeSpent"))
            <p class="nowrap">
                <span class="error">$errorMessage.forAttribute("fulfillmentTimeSpent")</span>
            </p>
#end
            <p class="nowrap">
                <label>$fulfillment.labelDescription($locale):</label>
                <textarea name="fulfillmentDescription" cols="80" rows="6">$!fulfillment.descriptionAsString</textarea>
            </p>
#if ($errorMessage.hasAttibute("fulfillmentDescription"))
            <p class="nowrap">
                <span class="error">$errorMessage.forAttribute("fulfillmentDescription")</span>
            </p>
#end
            <p class="nowrap">
                <label>$fulfillment.labelAbroad($locale):</label>
                <select name="fulfillmentAbroad" size="1">
                    <option value="true" #if($fulfillment.abroadAsString == "true")selected#end>$labelYes</option>
                    <option value="false" #if($fulfillment.abroadAsString == "false" || $fulfillment.abroadAsString == "")selected#end>$labelNo</option>
                </select>
            </p>
            <p class="nowrap">
                <label>$fulfillment.labelAccepted($locale):</label>
                #if($fulfillment.acceptedAsString == "true")
                    <b>$labelYes</b>
                #else
                    <b>$labelNo</b>
                #end
            </p>
            <p class="nowrap">
                <label>$fulfillment.labelApproved($locale):</label>
                #if($fulfillment.approvedAsString == "true")
                    <b>$labelYes</b>
                #else
                    <b>$labelNo</b>
                #end
            </p>
#if ($errorMessage.hasAttibute("fulfillmentAccepted"))
            <p class="nowrap">
                <span class="error">$errorMessage.forAttribute("fulfillmentAccepted")</span>
            </p>
#end
            <p>
               <label>$fulfillment.labelCreatedBy($locale): </label>
               #if($fulfillment.getCreatedById())
                    <b>$fulfillment.getCreatedById()</b>
               #end
            </p>
            #if($fulfillment.accountForAsString != "")
                <p>
                   <label>$fulfillment.labelAccountFor($locale): </label>
                    <b>$fulfillment.accountForAsString</b>
                </p>
            #end
#if ($errorMessage.hasGeneral())
            <p class="nowrap">
                <span class="error">$errorMessage.getGeneral()</span>
            </p>
#end
        </fieldset>
        <fieldset class="operation">
            <legend>$labelActions</legend>
                <p>
                 #set($saveown=$ams.may("actionProjectSaveOwnFulfillment") && $fulfillment.getEmployeeId()==$pMUser.getEmployee().getShortId())
                 #set($saveothers=$ams.may("actionProjectSaveOthersFulfillment") && ($fulfillment.getTask().getProject().getProjectmanagerId()==$pMUser.getEmployee().getId() || $fulfillment.getTask().getProject().getProjectofficerId()==$pMUser.getEmployee().getId() || $fulfillment.getTask().isSuperVicePM($pMUser.getEmployee().getId())))
                 #set($isEditable = ($fulfillment.isEditable().equals(0) || !$fulfillment.ExistInOMS))
                 #if($isEditable && ($saveown || $saveothers || $pMUser.hasRole("administrator") || $pMUser.hasRole("projectLeader")))
                    #buttonAccept($labelSave '#' "document.properties.action = '$history.ignore($link.setOperation($position,'fulfillmentSave').setObjectId($position, $fulfillment.id))'; document.properties.submit(); return false;")
                  #if($fulfillment.ExistInOMS)
                    #buttonDeny($labelDelete '#' "if(confirm('$confirmDeleteFulfillment')) {document.properties.action = '$history.ignore($link.setObjectId($position, $fulfillment.id).setOperation($position,'fulfillmentDelete'))'; document.properties.submit();} return false;")
                  #end
                 #end
                    #button($labelCancel '#' "document.properties.action = '$history.back()'; document.properties.submit(); return false;")
                </p>
        </fieldset>
    </form>
</div>

<script>
    enableNativeDatePicker(document.properties.fulfillmentDate)
</script>