<script type="text/javascript" language="Javascript1.2">

    function openUserPicker() {
        var top = (window.event) ? window.event.screenY : 0;
        var left = (window.event) ? window.event.screenX : 0;
        var w = window.open("$history.ignore($link).baseURI$history.ignore($link.clear().setNavigationId('pMUserSelect'))?callback=userPickerCallback",
                            "labelUserSelect",
                            "left=" + left + ", top=" + top + ", width=640, height=480, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no");
        w.focus();

    }

    function userPickerCallback(id, label, data) {
        document.properties.pMUserEmployeeUserId.value = id;
        document.properties.displayedValuepMUserEmployeeUser.value = label;
    }

    function openEmployeePicker() {
        var top = (window.event) ? window.event.screenY : 0;
        var left = (window.event) ? window.event.screenX : 0;
        var w = window.open("$history.ignore($link).baseURI$history.ignore($link.clear().setNavigationId('employeeSelect'))?callback=employeePickerCallback",
                            "labelEmployeeSelect",
                            "left=" + left + ", top=" + top + ", width=640, height=480, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no");
        w.focus();

    }

    function employeePickerCallback(id, label, data) {
        document.properties.pMUserEmployeeEmployeeId.value = id;
        document.properties.displayedValuepMUserEmployeeEmployee.value = label;
    }
</script>
<div class="portlet">
    <form name="properties" action="$link" method="post">
        <input type="hidden" name="updateForm" value="update"/>
        <fieldset class="dialog">
            <legend>$labelPMUserEmployeeProperties</legend>
            <p class="nowrap">
                <label>$pMUserEmployee.labelUser($locale)*:</label>
                <input type="hidden" name="pMUserEmployeeUserId" value="$!pMUserEmployee.getUser().getId()"/>
                <input type="text" name="displayedValuepMUserEmployeeUser" value="$!omObjectFormatter.format($pMUserEmployee.user.getOMObject(), $locale)" size="40"/>
                #button($labelChoose '#' "openUserPicker(); return false;")
            </p>
#if ($errorMessage.hasAttibute("pMUserEmployeeUser"))
            <p class="nowrap">
                <span class="error">$errorMessage.forAttribute("pMUserEmployeeUser")</span>
</p>
#end
#if ($errorMessage.hasAttibute("pMUserEmployeeConstraint"))
                        <p class="nowrap">
                            <span class="error">$errorMessage.forAttribute("pMUserEmployeeConstraint")</span>
            </p>
#end
            <p class="nowrap">
                <label>$pMUserEmployee.labelEmployee($locale)*:</label>
                <input type="hidden" name="pMUserEmployeeEmployeeId" value="$!pMUserEmployee.getEmployee().getId()"/>
                <input type="text" name="displayedValuepMUserEmployeeEmployee" value="$!omObjectFormatter.format($pMUserEmployee.employee.getOMObject(), $locale)" size="40"/>
                #button($labelChoose '#' "openEmployeePicker(); return false;")
            </p>
#if ($errorMessage.hasAttibute("pMUserEmployeeEmployee"))
            <p class="nowrap">
                <span class="error">$errorMessage.forAttribute("pMUserEmployeeEmployee")</span>
</p>
#end
#if ($errorMessage.hasAttibute("pMUserEmployeeDuplication"))
                        <p class="nowrap">
                            <span class="error">$errorMessage.forAttribute("pMUserEmployeeDuplication")</span>
            </p>
#end
        </fieldset>        <fieldset class="operation">
            <legend>$labelActions</legend>
                <p>
                    #buttonAccept($labelSave '#' "document.properties.action = '$history.ignore($link.setOperation($position,'pMUserEmployeeSave'))'; document.properties.submit(); return false;")
                    #buttonDeny($labelDelete '#' "if(confirm('$confirmDeletePMUserEmployee')) {document.properties.action = '$history.ignore($link.setOperation($position,'pMUserEmployeeDelete'))'; document.properties.submit();} return false;")
                    #button($labelCancel '#' "document.properties.action = '$history.back()'; document.properties.submit(); return false;")
                </p>
        </fieldset>
    </form>
</div>
