<script type="text/javascript" language="JavaScript1.2">
    function changeOrderBy(orderBy) {
        if (orderBy == document.taskList.filterOrderBy.value) {
            document.taskList.filterDirection.value = 0 - document.taskList.filterDirection.value;
        }
        document.taskList.filterOrderBy.value = orderBy;
        document.taskList.submit();
    }

    function changeDisplayedPage(field){
        if (field.value == "") return;
        var displpage = parseInt(field.value);
        if (!isNaN(displpage)) {
            if (displpage > 0 && displpage <= $filter.lastPage) {
                document.taskList.filterPage.value = displpage;
            }
        }
        document.taskList.displayedPageHeader.value = document.taskList.filterPage.value;
    }

    function clearFilterFields() {
        document.taskList.filterName.value = "";
        document.taskList.filterCompletedRangeBottom.value = ""
        document.taskList.filterCompletedRangeTop.value = ""
#if ($filter.isAllowProjectToChange())
        document.taskList.filterProjectId.value = "";
        document.taskList.displayedValuefilterProject.value = "";
#end
        document.taskList.filterSuperTaskId.value = "";
        document.taskList.displayedValuefilterSuperTask.value = "";
        document.taskList.filterVicePMId.value = "";
        document.taskList.displayedValuefilterVicePM.value = "";
    }


    function openProjectPicker() {
        var top = (window.event) ? window.event.screenY : 0;
        var left = (window.event) ? window.event.screenX : 0;
        var w = window.open("$history.ignore($link).baseURI$history.ignore($link.clear().setNavigationId('projectSelect'))?callback=projectPickerCallback",
                            "labelProjectSelect",
                            "left=" + left + ", top=" + top + ", width=640, height=480, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no");
        w.focus();

    }

    function projectPickerCallback(id, label, data, businessUnitId, businessUnit) {
        document.taskList.filterProjectId.value = id;
        document.taskList.displayedValuefilterProject.value = label;
        document.taskList.filterSuperTaskId.value = "";
        document.taskList.displayedValuefilterSuperTask.value = "";
        document.taskList.submit(); return false;
    }

    function openSuperTaskPicker() {
        var top = (window.event) ? window.event.screenY : 0;
        var left = (window.event) ? window.event.screenX : 0;
        var w = window.open("$history.ignore($link).baseURI$history.ignore($link.clear().setNavigationId('taskSuperSelect'))?callback=superTaskPickerCallback",
                            "labelSuperTaskSelect",
                            "left=" + left + ", top=" + top + ", width=640, height=480, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no");
        w.focus();

    }

    function superTaskPickerCallback(id, label, data, projectId, project, businessUnitId, businessUnit) {
        document.taskList.filterSuperTaskId.value = id;
        document.taskList.displayedValuefilterSuperTask.value = label;
        document.taskList.filterProjectId.value = projectId;
        document.taskList.displayedValuefilterProject.value = project;
        document.taskList.submit(); return false;
    }

    function openVicePMPicker() {
        var top = (window.event) ? window.event.screenY : 0;
        var left = (window.event) ? window.event.screenX : 0;
        var w = window.open("$history.ignore($link).baseURI$history.ignore($link.clear().setNavigationId('employeeSelect'))?callback=vicePMPickerCallback",
                            "labelVicePMSelect",
                            "left=" + left + ", top=" + top + ", width=640, height=480, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no");
        w.focus();

    }

    function vicePMPickerCallback(id, label, data) {
        document.taskList.filterVicePMId.value = id;
        document.taskList.displayedValuefilterVicePM.value = label;
    }

#if($selectMode)
    function selectObject(id, label, data) {
#if($callback)
        window.opener.${callback}(id, label, data);
#else
        alert("Don't find callback method name in context.");
#end
        window.close();
    }
#end
</script>
<div class="portlet">
    <form name="taskList" action="$link" method="post">
        <input type="hidden" name="filterOrderBy" value="$!filter.orderBy" />
        <input type="hidden" name="filterDirection" value="$!filter.direction" />
        <input type="hidden" name="filterPage" value="$filter.page" />
        <fieldset>
            <legend>$labelFiltering</legend>
                <p>
            <span class="nowrap">
                <label>$filter.labelName($locale):</label>
                <input type="text" name="filterName" value="$!filter.nameAsString" size="40"/>
            &nbsp;&nbsp;</span>
            <span class="nowrap">
                <label>$filter.labelProject($locale):</label>
                <input type="hidden" name="filterProjectId" value="$!filter.getProject().getId()"/>
#if ($filter.isAllowProjectToChange())
                <input type="text" name="displayedValuefilterProject" value="$!omObjectFormatter.format($filter.project.getOMObject(), $locale)" size="40"/>
                #button($labelChoose '#' "openProjectPicker(); return false;")
#else
                <input type="hidden" name="displayedValuefilterProject" value="$!omObjectFormatter.format($filter.project.getOMObject(), $locale)" size="40"/>
                $!omObjectFormatter.format($filter.project.getOMObject(), $locale)
#end
            &nbsp;&nbsp;</span>

#if (!($superPicker))
            <span class="nowrap">
                <label>$filter.labelSuperTask($locale):</label>
                <input type="hidden" name="filterSuperTaskId" value="$!filter.getSuperTask().getId()"/>
                <input type="text" name="displayedValuefilterSuperTask" value="$!omObjectFormatter.format($filter.superTask.getOMObject(), $locale)" size="40"/>
                #button($labelChoose '#' "openSuperTaskPicker(); return false;")
            &nbsp;&nbsp;</span>
            <span class="nowrap">
#else
            <input type="hidden" name="filterSuperTaskId" value=""/>
            <input type="hidden" name="displayedValuefilterSuperTask" value="$!omObjectFormatter.format($filter.superTask.getOMObject(), $locale)" size="40"/>
#end
            &nbsp;&nbsp;</span>
 ##           <span class="nowrap">
 ##               <label>$filter.labelVicePM($locale):</label>
 ##               <input type="hidden" name="filterVicePMId" value="$!filter.getVicePM().getId()"/>
 ##               <input type="text" name="displayedValuefilterVicePM" value="$!omObjectFormatter.format($filter.vicePM.getOMObject(), $locale)" size="40"/>
 ##               #button($labelChoose '#' "openVicePMPicker(); return false;")
 ##           &nbsp;&nbsp;</span>
                </p>
                <p>
                #button($labelSearch '' 'document.taskList.filterPage.value = "1";document.taskList.submit(); return false;')
                #button($labelSearchReset '' 'clearFilterFields(); return false;')
#if(!($selectMode))
                #button($labelBack '#' "document.taskList.action = '$history.back()'; document.taskList.submit(); return false;")
#end

                </p>
        </fieldset>
#if (!$selectMode)
        <fieldset>
            <legend>$labelOperations</legend>
            <p>
                #button($labelNewTask '' "document.taskList.action = '$link.clear().setNavigationId('taskProperties') '; document.taskList.submit(); return false;")
            </p>
        </fieldset>
#end
        <fieldset>
            <p>

                <table class="list">
                    <caption>

#if ($filter.numberOfHits > 0)
#if ($filter.isMorePage())
            #button($labelFirstPage '' "document.taskList.filterPage.value = 1; document.taskList.submit(); return false;")&nbsp;
            #button($labelPrevPage '' "document.taskList.filterPage.value = $filter.page - 1; document.taskList.submit(); return false;")&nbsp;
            $filter.numberOfHits $labelTaskListCount &nbsp;<input type="text" size="3" name="displayedPageHeader" value="$filter.page" onkeyup="changeDisplayedPage(this);"/>&nbsp;/&nbsp;$filter.lastPage&nbsp;
            #button ($labelGoPage '' "document.taskList.submit(); return false;")&nbsp;
            #button ($labelNextPage '' "document.taskList.filterPage.value = ($filter.page + 1); document.taskList.submit(); return false;")&nbsp;
            #button ($labelLastPage '' "document.taskList.filterPage.value = $filter.lastPage; document.taskList.submit(); return false;")
#end
#else
                        $labelTaskListEmpty
#end
                    </caption>
#if ($filter.direction == 1)
#set ($directionFlag = "[+]")
#else
#set ($directionFlag = "[-]")
#end
#if ($filter.numberOfHits > 0)
                    <thead>
                        <tr>
                            <th><a href="#" onClick="changeOrderBy('name');return false;">$filter.labelName($locale) #if ($filter.orderBy == "name") $directionFlag #end</a></th>
                            <th><a href="#" onClick="changeOrderBy('begins');return false;">$filter.labelBegins($locale) #if ($filter.orderBy == "begins") $directionFlag #end</a></th>
                            <th><a href="#" onClick="changeOrderBy('plannedWork');return false;">$filter.labelPlannedWork($locale) #if ($filter.orderBy == "plannedWork") $directionFlag #end</a></th>
                            <th><a href="#" onClick="changeOrderBy('project');return false;">$filter.labelProject($locale) #if ($filter.orderBy == "project") $directionFlag #end</a></th>
                            <th>$labelActions</th>
                        </tr>
                    </thead>
                    <tbody>
#foreach ($item in $items)
                        <tr>
                            <td>$item.nameAsString</td>
                            <td>$item.beginsAsString</td>
                            <td>$item.plannedWorkAsString</td>
#if($item.project.getOMObject())
                            <td>$!omObjectFormatter.format($item.project.getOMObject(), $locale)</td>
#else
                            <td>&nbsp;</td>
#end
#if($selectMode)
                            <td>
                                <a href="#" onClick="selectObject('$item.id','$omObjectFormatter.formatForJavascript($item.getOMObject(), $locale)', ''); return false;">$labelChoose</a>
                            </td>
#else
                            <td>
                                <a href="$link.clear().setNavigationId('taskProperties').setObjectId($position, $item.id)">$labelEdit</a>
                            </td>
#end
                        </tr>
#end
                    </tbody>
#end
              </table>
            </p>
        </fieldset>
    </form>
</div>
