<script type="text/javascript" language="JavaScript1.2">
    function changeOrderBy(orderBy) {
        if (orderBy == document.taskResourceList.filterOrderBy.value) {
            document.taskResourceList.filterDirection.value = 0 - document.taskResourceList.filterDirection.value;
        }
        document.taskResourceList.filterOrderBy.value = orderBy;
        document.taskResourceList.submit();
    }

    function changeDisplayedPage(field){
        if (field.value == "") return;
        var displpage = parseInt(field.value);
        if (!isNaN(displpage)) {
            if (displpage > 0 && displpage <= $filter.lastPage) {
                document.taskResourceList.filterPage.value = displpage;
            }
        }
        document.taskResourceList.displayedPageHeader.value = document.taskResourceList.filterPage.value;
    }

    function clearFilterFields() {
        document.taskResourceList.filterAmountRangeBottom.value = ""
        document.taskResourceList.filterAmountRangeTop.value = ""
    }


    function openTaskPicker() {
        var top = (window.event) ? window.event.screenY : 0;
        var left = (window.event) ? window.event.screenX : 0;
        var w = window.open("$history.ignore($link).baseURI$history.ignore($link.clear().setNavigationId('taskSelect'))?callback=taskPickerCallback",
                            "labelTaskSelect",
                            "left=" + left + ", top=" + top + ", width=640, height=480, menubar=no, resizable=yes, scrollbars=yes, status=no, toolbar=no");
        w.focus();

    }

    function taskPickerCallback(id, label, data, projectId, project, businessUnitId, businessUnit) {
        document.taskResourceList.filterTaskId.value = id;
        document.taskResourceList.displayedValuefilterTask.value = label;
    }

#if($selectMode)
    function selectObject(id, label, data) {
#if($callback)
        window.opener.${callback}(id, label, data);
#else
        alert("Don't find callback method name in context.");
#end
        window.close();
    }
#end
</script>
<div class="portlet">
    <form name="taskResourceList" action="$history.ignore($link)" method="post">
        <input type="hidden" name="filterOrderBy" value="$!filter.orderBy" />
        <input type="hidden" name="filterDirection" value="$!filter.direction" />
        <input type="hidden" name="filterPage" value="$filter.page" />
        <input type="hidden" name="filterTaskId" value="$filter.task.id" />
        <fieldset>
            <legend>$labelFiltering</legend>
                <p>
                    <span class="nowrap">
                        <label>$filter.labelAmount($locale):</label>
                        <label>$filter.labelAmountRangeBottom($locale):</label>
                        <input type="text" name="filterAmountRangeBottom" value="$!filter.amountRangeBottomAsString" size="18"/>
                        <label>$filter.labelAmountRangeTop($locale):</label>
                        <input type="text" name="filterAmountRangeTop" value="$!filter.amountRangeTopAsString" size="18"/>
                        &nbsp;&nbsp;
                    </span>
                    <span class="nowrap">
                        <label>$labelType</label>
                        <select name="filterType" size="1">
                            <option value="">$labelAll</option>
                            <option value="$filter.TYPE_EMPLOYEE" #if($filter.typeAsString == "$filter.TYPE_EMPLOYEE")selected#end>$labelEmployees</option>
                            <option value="$filter.TYPE_PMROLE" #if($filter.typeAsString == "$filter.TYPE_PMROLE")selected#end>$labelPMRoles</option>
                            <option value="$filter.TYPE_TOOL" #if($filter.typeAsString == "$filter.TYPE_TOOL")selected#end>$labelTools</option>
                        </select>
                        &nbsp;&nbsp;
                    </span>

                </p>
                <p>
                    #button($labelSearch '' 'document.taskResourceList.filterPage.value = "1";document.taskResourceList.submit(); return false;')
                    #button($labelSearchReset '' 'clearFilterFields(); return false;')
#if (!$selectMode)
                    #button($labelBack '#' "document.taskResourceList.action = '$history.back()'; document.taskResourceList.submit(); return false;")
#end
                </p>
        </fieldset>
#if (!$selectMode)
    #if(($ams.may("actionProjectEditOwnProject") && ($pMUser.employee.id == $filter.task.project.projectmanager.id || $pMUser.employee.id == $filter.task.project.projectofficer.id || $filter.task.isSuperVicePM($pMUser.employee.id))) || $ams.may("actionProjectEditOthersProject"))
        <fieldset>
            <legend>$labelOperations</legend>
            <p>
                #button($labelNewTaskTool '' "document.taskResourceList.action = '$link.clear().setNavigationId('taskToolProperties') '; document.taskResourceList.submit(); return false;")
                #button($labelNewTaskEmployee '' "document.taskResourceList.action = '$link.clear().setNavigationId('taskEmployeeProperties') '; document.taskResourceList.submit(); return false;")
                #button($labelNewTaskPMRole '' "document.taskResourceList.action = '$link.clear().setNavigationId('taskPMRoleProperties') '; document.taskResourceList.submit(); return false;")
            </p>
        </fieldset>
    #end
#end
        <fieldset>
            <p>

                <table class="list">
                    <caption>

#if ($filter.numberOfHits > 0)
#if ($filter.isMorePage())
            #button($labelFirstPage '' "document.taskResourceList.filterPage.value = 1; document.taskResourceList.submit(); return false;")&nbsp;
            #button($labelPrevPage '' "document.taskResourceList.filterPage.value = $filter.page - 1; document.taskResourceList.submit(); return false;")&nbsp;
            $filter.numberOfHits $labelTaskResourceListCount &nbsp;<input type="text" size="3" name="displayedPageHeader" value="$filter.page" onkeyup="changeDisplayedPage(this);"/>&nbsp;/&nbsp;$filter.lastPage&nbsp;
            #button ($labelGoPage '' "document.taskResourceList.submit(); return false;")&nbsp;
            #button ($labelNextPage '' "document.taskResourceList.filterPage.value = ($filter.page + 1); document.taskResourceList.submit(); return false;")&nbsp;
            #button ($labelLastPage '' "document.taskResourceList.filterPage.value = $filter.lastPage; document.taskResourceList.submit(); return false;")
#end
#else
                        $labelTaskResourceListEmpty
#end
                    </caption>
#if ($filter.direction == 1)
#set ($directionFlag = "[+]")
#else
#set ($directionFlag = "[-]")
#end
#if ($filter.numberOfHits > 0)
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th><a href="#" onClick="changeOrderBy('amount');return false;">$filter.labelAmount($locale) #if ($filter.orderBy == "amount") $directionFlag #end</a></th>
                            <th><a href="#" onClick="changeOrderBy('task');return false;">$filter.labelTask($locale) #if ($filter.orderBy == "task") $directionFlag #end</a></th>
                            <th><a href="#" onClick="changeOrderBy('resource');return false;">$filter.labelResource($locale) #if ($filter.orderBy == "resource") $directionFlag #end</a></th>
                            <th>$labelActions</th>
                        </tr>
                    </thead>
                    <tbody>
#foreach ($item in $items)
                        <tr>
                            <td>
                                <img src="static/images/pm3/$item.icon" title="$item.type" width=$filter.ICON_WIDTH height=$filter.ICON_HEIGHT border=0>
                            </td>

                            <td>$item.amountAsString  $!item.getResourceInstance().unit.name</td>
#if($item.task.getOMObject())
                            <td>$!omObjectFormatter.format($item.task.getOMObject(), $locale)</td>
#else
                            <td>&nbsp;</td>
#end
#if($item.resource)
                            <td>$!omObjectFormatter.format($item.resource, $locale)</td>
#else
                            <td>&nbsp;</td>
#end
#if($selectMode)
                            <td>
                                <a href="#" onClick="selectObject('$item.id','$omObjectFormatter.formatForJavascript($item.getOMObject(), $locale)', ''); return false;">$labelChoose</a>
                            </td>
#else
                            <td>
#if(($ams.may("actionProjectEditOwnTask") && ($pMUser.employee.id==$item.task.project.projectmanager.id || $pMUser.employee.id==$item.task.project.projectofficer.id || $item.task.isSuperVicePM($pMUser.employee.id))) || ($ams.may("actionProjectEditOthersTask")))
    #if($item.resource.getId().startsWith("Tool."))
                                <a href="$link.clear().setNavigationId('taskToolProperties').setObjectId($position, $item.id)">$labelEdit</a>
    #elseif($item.resource.getId().startsWith("Employee."))
                                <a href="$link.clear().setNavigationId('taskEmployeeProperties').setObjectId($position, $item.id)">$labelEdit</a>
    #elseif($item.resource.getId().startsWith("PMRole."))
                                <a href="$link.clear().setNavigationId('taskPMRoleProperties').setObjectId($position, $item.id)">$labelEdit</a>
    #end
#end
                            </td>
#end
                        </tr>
#end
                    </tbody>
#end
              </table>
            </p>
        </fieldset>
    </form>
</div>
