
<script type="text/javascript" language="JavaScript1.2">
    function changeOrderBy(orderBy) {
        if (orderBy == document.unitList.filterOrderBy.value) {
            document.unitList.filterDirection.value = 0 - document.unitList.filterDirection.value;
        }
        document.unitList.filterOrderBy.value = orderBy;
        document.unitList.submit();
    }

    function changeDisplayedPage(field){
        if (field.value == "") return;
        var displpage = parseInt(field.value);
        if (!isNaN(displpage)) {
            if (displpage > 0 && displpage <= $filter.lastPage) {
                document.unitList.filterPage.value = displpage;
            }
        }
        document.unitList.displayedPageHeader.value = document.unitList.filterPage.value;
    }

    function clearFilterFields() {
        document.unitList.filterName.value = "";
    }


#if($selectMode)
    function selectObject(id, label, data) {
#if($callback)
        window.opener.${callback}(id, label, data);
#else
        alert("Don't find callback method name in context.");
#end
        window.close();
    }
#end
</script>
<div class="portlet">
    <form name="unitList" action="$link" method="post">
        <input type="hidden" name="filterOrderBy" value="$!filter.orderBy" />
        <input type="hidden" name="filterDirection" value="$!filter.direction" />
        <input type="hidden" name="filterPage" value="$filter.page" />
        <fieldset>
            <legend>$labelFiltering</legend>
                <p>
            <span class="nowrap">
                <label>$filter.labelName($locale):</label>
                <input type="text" name="filterName" value="$!filter.nameAsString" size="40"/>
            &nbsp;&nbsp;</span>
                </p>
                <p>
                #button($labelSearch '' 'document.unitList.filterPage.value = "1";document.unitList.submit(); return false;')
                #button($labelSearchReset '' 'clearFilterFields(); return false;')
#if (!$selectMode)
                #button($labelBack '#' "document.unitList.action = '$history.back()'; document.unitList.submit(); return false;")
#end                    
                </p>
        </fieldset>
#if (!$selectMode)
        <fieldset>
            <legend>$labelOperations</legend>
            <p>
                #button($labelNewUnit '' "document.unitList.action = '$link.clear().setNavigationId('unitProperties') '; document.unitList.submit(); return false;")
            </p>
        </fieldset>
#end
        <fieldset>
            <p>

                <table class="list">
                    <caption>

#if ($filter.numberOfHits > 0)
#if ($filter.isMorePage())
            #button($labelFirstPage '' "document.unitList.filterPage.value = 1; document.unitList.submit(); return false;")&nbsp;
            #button($labelPrevPage '' "document.unitList.filterPage.value = $filter.page - 1; document.unitList.submit(); return false;")&nbsp;
            $filter.numberOfHits $labelUnitListCount &nbsp;<input type="text" size="3" name="displayedPageHeader" value="$filter.page" onkeyup="changeDisplayedPage(this);"/>&nbsp;/&nbsp;$filter.lastPage&nbsp;
            #button ($labelGoPage '' "document.unitList.submit(); return false;")&nbsp;
            #button ($labelNextPage '' "document.unitList.filterPage.value = ($filter.page + 1); document.unitList.submit(); return false;")&nbsp;
            #button ($labelLastPage '' "document.unitList.filterPage.value = $filter.lastPage; document.unitList.submit(); return false;")
#end
#else
                        $labelUnitListEmpty
#end
                    </caption>
#if ($filter.direction == 1)
#set ($directionFlag = "[+]")
#else
#set ($directionFlag = "[-]")
#end
#if ($filter.numberOfHits > 0)
                    <thead>
                        <tr>
                            <th><a href="#" onClick="changeOrderBy('name');return false;">$filter.labelName($locale) #if ($filter.orderBy == "name") $directionFlag #end</a></th>
                            <th>$labelActions</th>
                        </tr>
                    </thead>
                    <tbody>
#foreach ($item in $items)
                        <tr>
                            <td>$item.nameAsString</td>
#if($selectMode)
                            <td>
                                <a href="#" onClick="selectObject('$item.id','$omObjectFormatter.formatForJavascript($item.getOMObject(), $locale)', ''); return false;">$labelChoose</a>
                            </td>
#else
                            <td>
                                <a href="$link.clear().setNavigationId('unitProperties').setObjectId($position, $item.id)">$labelEdit</a>
                            </td>
#end
                        </tr>
#end
                    </tbody>
#end
              </table>
            </p>
        </fieldset>
    </form>
</div>
